
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>INCOME CLASSIFIER</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="Total Number of Rooms" placeholder="Total Number of rooms" required="required" /><br><br>
    	<input type="text" name="Age of head of household" placeholder="Age of head of household" required="required" /><br><br>
    	<input type="text" name="house hold size" placeholder="house hold size" required="required" /><br><br>
        <input type="text" name="number of child in house" placeholder="number of child in house" required="required" /><br><br>
		
		<label for="own computer">1 if computer is there else 0</label><br>
        <select name="own computer" id="own computer" required>
		<option>None</option>
        <option value="1">1</option>
		<option value="0">0</option>
		</select><br><br>
		
        <label for="own TV">1 if TV is there else 0</label><br>
        <select name="own TV" id="own TV" required>
		<option>None</option>
		<option value="1">1</option>
		<option value="0">0</option>
		</select><br><br>
		
		<label for="Tenure Status">Tenure Status</label><br>
        <select name="Tenure Status" id="Tenure Status" required>
		<option>None</option>
		<option value="Owned and fully paid">Owned and fully paid</option>
		<option value="Occupied rent free">Occupied rent free</option>
		<option value="Owned but not yet paid off">Owned but not yet paid off</option>
		<option value="Rented">Rented</option>
		<option value="Other">Other</option>
		</select><br><br>
		
        <label for="TYPE_LIVING_QUARTERS">Type of living quarters</label><br>
        <select name="TYPE_LIVING_QUARTERS" id="TYPE_LIVING_QUARTERS" required>
		<option>None</option>
		<option value="House">House</option>
		<option value="Converted hostel">Converted hostel</option>
		</select><br><br>
		
       <label for="Access to toilet">Access to toilet</label><br>
        <select name="Access to toilet" id="Access to toilet" required>
		<option>None</option>
		<option value="flush toilet with septic tank">flush toilet with septic tank</option>
		<option value="flush toilet connected to sewage system">flush toilet connected to sewage system</option>
		<option value="pit latrine without ventilation">pit latrine without ventilation</option>
		<option value="pit latrine with ventilation VIP">pit latrine with ventilation VIP</option>
		<option value="Chemical Toilet">Chemical Toilet</option>
		<option value="Bucket laterine">Bucket laterine</option>
		<option value="other">other</option>
		<option value="not known">not known</option>
		</select><br><br>
        
		<label for="Access to pipe water">Access to pipe water</label><br>
        <select name="Access to pipe water" id="Access to pipe water" required>
		<option>None</option>                                                                                      
		<option value="Piped tap water inside dwelling">Piped tap water inside dwelling</option>
		<option value="Piped tap water inside the yard">Piped tap water inside the yard</option>
		<option value="Piped tap water on community stand distance less than 200m">Piped tap water on community stand distance less than 200m</option>
		<option value="Piped tap water on community stand distance between  200m to 500 m">Piped tap water on community stand distance between  200m to 500 m</option>
		<option value="Piped tap water on community stand between 500m to 1 km">Piped tap water on community stand between 500m to 1 km</option>
		<option value="Piped tap water on community stand distance more than 1 km">Piped tap water on community stand distance more than 1 km</option>
		<option value="No acces to pipe water">No acces to pipe water</option>
		</select><br><br>
 
        <label for="Internet access">Internet access</label><br>
        <select name="Internet access" id="Internet access" required>
		<option>None</option>
		<option value="From home">From home</option>
		<option value="No access">No access</option>
		<option value="From cell phone">From cell phone</option>
		<option value="From work">From work</option>
		<option value="From elsewhere">From elsewhere</option>
		</select><br><br>
    
		<label for="Gender of head of house">Gender of head of house</label><br>
        <select name="gender" id="gender" required>
		<option>None</option>
		<option value="Male">Male</option>
		<option value="Female">Female</option>
		</select><br><br>


		<label for="Employment of head of house hold">Employment of head of house hold</label><br>
        <select name="employment" id="employment" required>
		<option>None</option>
		<option value="Not economically active">Not economically active</option>
		<option value="Employed">Employed</option>
		<option value="Unemployed">Unemployed</option>
		<option value="Discourage work seeker">Discourage work seeker</option>
		<option value="Household head out of working age group">Household head out of working age group</option>
		</select><br><br>
		
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}
 </div>